### Scraper For BMS

In [669]:
#Importing Necessary Libraries

#importing Beautifulsoup for extract data from HTML 
from bs4 import BeautifulSoup as soup
from urllib.request import urlopen as uReq
import pandas as pd

'''
gensim is vector space modeling and topic modeling toolkit used to check the similarity of the sentences using
tf-idf which means, tf - term frequency and idf - inverse document frequency. Tf–idf is one of the most popular
term-weighting schemes today; 83% of text-based recommender systems in digital libraries use tf–idf.
'''
import gensim
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import os
import itertools
import numpy as np
from textcleaner import *

In [670]:
tc = textcleaner

In [671]:
#Defining Function Needed for striping the string and finding text similarity
# def docs_generate(y):
#     docs= y
#     return docs  

#function for shorting the name of months to 3 words
def month_shortner(x):
    h=[]
    for i in x:
        i=i[:3]
        h.append(i)
    return h

#function for checking the similarity of the words using the gensim library using dictionary and corpus of the words and tf-idf
def simila(sent):
    query_doc = [w.lower() for w in word_tokenize(sent)]
    #print(query_doc)
    query_doc_bow = dictionary.doc2bow(query_doc)
    #print(query_doc_bow)
    query_doc_tf_idf = tf_idf[query_doc_bow]
    #print(query_doc_tf_idf)
    return list(sims[query_doc_tf_idf])

# def res(k):
#     return list(k for k,_ in itertools.groupby(k))

#function for grouping the event based on the dates and checking the similarity of that events only
def eve_on_date(date):
    return tc.document(result[result.day==date]['event name'].tolist()).lower_all().remove_symbols().remove_stpwrds().token_it()

In [672]:
#stop_words = stopwords.words('english') + list(string.punctuation)

In [673]:
# Use only specified link (works only for BMS, Eventbrite and Insider as of Now)
# You can use your own link for testing other cities events on BMS, insider and eventbrite

bms_url = 'https://in.bookmyshow.com/pune/events'
eventbrite_url = 'https://www.eventbrite.com/d/india--pune/events/'
insider_url = 'https://insider.in/pune'

In [674]:
# for going to the ur and requesting and fetching the data we need from the BMS website
uClient = uReq(bms_url)
page_html = uClient.read()
uClient.close()
page_soup = soup(page_html,"html.parser")

In [675]:
containers = page_soup.findAll("div",{"class": "cards evt-card"})

In [676]:
#this is for fetching and storing the data in the python list as per need from BMS
event_name  = []
event_date =[]
event_month = []
price = []
location = []
tag = []

for container in containers:
    event_name.append(container.div.img['alt'])
    price.append(container.findAll("span",{"class": "__price"})[1].text)
    event_date.append(container.p.text)
    event_month.append(container.findAll("p",{"class":"__evt-month"})[0].text)
    location.append(container.findAll("span",{"class":"__location"})[0].text)
    #tag.append(container.findAll("span",{"class":"__tag"})[0].text)
event_month = [w.lower() for w in event_month]
event_name = [w.lower() for w in event_name]

#appending the location with the name of event for the checking similarity of both at one time
event_name = [str(w)+" at "+str(x) for w,x in zip(event_name,location)]

In [677]:
#appending the date and month to create a day combinedly
event_day = [str(w)+" "+str(x) for w,x in zip(event_date,event_month)]

In [678]:
#Event list of BMS and Event Date and month 
bms = list(zip(event_name,event_day))
bms

[('vh1 supersonic festival 2019 at bookmyshow at Mahalakshmi Lawns: Pune',
  '16 feb'),
 ('rambo circus at bookmyshow at Circus Ground: Pune', '1 jan'),
 ('swarazankar - a decade of musical celebration at bookmyshow at MIT - WPU Campus: Pune',
  '10 jan'),
 ('melody queen shreya ghoshal live in concert at bookmyshow at ILS Law College Ground: Pune',
  '19 jan'),
 ('lucky ali live - 30 years of musical journey at bookmyshow at Liberty Square, Phoenix Marketcity: Pune',
  '26 jan'),
 ('vipul goyal live at bookmyshow at Nomad The Lounge Bar: Aundh', '11 jan'),
 ('hot and happening by jeeveshu ahluwalia at bookmyshow at Nehru Memorial Hall: Pune',
  '10 feb'),
 ('signature masterclass 3.0 (pune) at bookmyshow at The Westin: Pune',
  '11 jan'),
 ('tribute to pink floyd by rla at bookmyshow at The High Spirits Cafe: Pune',
  '13 jan'),
 ('babuji ek sangitik parva-suresh wadkar live at bookmyshow at Ganesh Kala Krida Rangamanch: Pune',
  '26 jan'),
 ('standup comedy at viman nagar -nukkad cafe at bookmyshow at Nukkad Cafe: Pune',
  '2 jan'),
 ('new breed - thursday live! at bookmyshow at Hard Rock Cafe: Pune', '3 jan'),
 ('stand up comedy at kp- inscape coworking space at bookmyshow at Inscape Cowork Pvt Ltd: Pune',
  '3 jan'),
 ('tutc - sangam nivas, prayagraj at bookmyshow at Sangam Nivas Camp: (Prayagraj) Allahabad',
  '10 jan'),
 ('fiddlecraft - thursday live! at bookmyshow at Hard Rock Cafe: Pune',
  '10 jan'),
 ('goa sunsplash 2019 at bookmyshow at Riva Beach Resort: Goa', '12 jan'),
 ('sharma ji before and after at bookmyshow at Classic Rock Coffee Co: Kalyani Nagar, Pune',
  '20 jan'),
 ('comedy night at vandaag, the gateway hotel at bookmyshow at Vandaag, The Gateway Hotel Hinjawadi : Pune',
  '23 jan'),
 ('zee jaipur literature festival:delegate experience at bookmyshow at Hotel Diggi Palace: Jaipur',
  '24 jan'),
 ('tribute to legends of metal by zygnema and friends at bookmyshow at Hard Rock Cafe: Pune',
  '24 jan'),
 ('tribute to pink floyd feat. rla - thursday live! at bookmyshow at Hard Rock Cafe: Pune',
  '31 jan'),
 ('the other side of me - a stand up comedy at bookmyshow at Austin 40 CafeHouse: Pune',
  '2 feb'),
 ('the other side of me  a standup comedy at bookmyshow at Leafy Trails: Pune',
  '3 feb'),
 ('ruhaniyat at bookmyshow at Empress Botanical Garden: Pune', '10 feb'),
 ('milan raga (ranjani and gayatri) at bookmyshow at Creaticity: Pune',
  '16 feb')]

### Scraper For Eventbrite

In [679]:
# for going to the ur and requesting and fetching the data we need from the eventbrite website
uClient = uReq(eventbrite_url)
page_html2 = uClient.read()
uClient.close()
page_soup = soup(page_html2,"html.parser")

In [680]:
eventbrite_containers = page_soup.findAll("div",{"class": "eds-l-pad-all-1"})

In [681]:
event_name1  = []
event_date1 =[]
event_month1 = []
price1 = []
location1 = []

for container in eventbrite_containers:
    event_name1.append(container.div.img['alt'])
    price1.append(container.div.span.text)
    event_month1.append(container.p.text)
    event_date1.append(container.findAll("p",{"class":"date-thumbnail__day"})[0].text)
    try: 
        location1.append(container.findAll("div",{"class":"card-text--truncated__one"})[0].text) 
    except IndexError:
        location1.append('null')
#event_date1 = list(zip(event_date1,event_month1)) 
event_month1 = [w.lower() for w in event_month1]
event_name1 = [w.lower() for w in event_name1]

#appending the date and month to create a day combinedly
event_day1 = [str(w)+" "+str(x) for w,x in zip(event_date1,event_month1)] 

#appending the location with the name of event for the checking similarity of both at one time
event_name1 = [str(w)+" at "+str(x) for w,x in zip(event_name1,location1)]

In [682]:
#Event list of eventbrite and Event Date and month
eventbrite = list(zip(event_name1,event_day1))

### Scraper For Insider

In [683]:
# for going to the ur and requesting and fetching the data we need from the Insider website
uClient = uReq(insider_url)
page_html3 = uClient.read()
uClient.close()
page_soup = soup(page_html3,"html.parser")

In [684]:
insider_containers = page_soup.findAll("div",{"class": "featured-card-details "})

In [685]:
event_name2  = []
event_date2 =[]
price2 = []
location2 = []

for container in insider_containers:
    event_name2.append(container.span.text)
    price2.append(container.findAll("span",{"class":"featured-card-price"})[0].text)
    event_date2.append(container.findAll("span",{"class":"featured-card-date"})[0].text)
    location2.append(container.findAll("span",{"class":"featured-card-venue"})[0].text)
event_name2 = [w.lower() for w in event_name2]   

#appending the location with the name of event for the checking similarity of both at one time
event_name2 = [str(w)+" at "+str(x) for w,x in zip(event_name2,location2)]

In [686]:
k=[]
l=[]
j=[]
for e in event_date2:
     k.append(e.split())
event_month2=[]
for e in k:
    l.append(e[0])
for e in k:
    j.append(e[1])
event_date2 = j     
event_month2 = [w.lower() for w in l] 
event_month2 = month_shortner(event_month2)

#appending the date and month to create a day combinedly
event_day2 = [str(w)+" "+str(x) for w,x in zip(event_date2,event_month2)]

In [687]:
#Event list of Insider and Event Date and month
insider = list(zip(event_name2,event_day2))

In [688]:
#Conversion of the python list to Pandas Dataframes

df_insider = pd.DataFrame(insider)
df_eventbrite = pd.DataFrame(eventbrite)
df_bms = pd.DataFrame(bms)

In [689]:
df_bms

                                                    0       1
0   vh1 supersonic festival 2019 at bookmyshow at ...  16 feb
1   rambo circus at bookmyshow at Circus Ground: Pune   1 jan
2   swarazankar - a decade of musical celebration ...  10 jan
3   melody queen shreya ghoshal live in concert at...  19 jan
4   lucky ali live - 30 years of musical journey a...  26 jan
5   vipul goyal live at bookmyshow at Nomad The Lo...  11 jan
6   hot and happening by jeeveshu ahluwalia at boo...  10 feb
7   signature masterclass 3.0 (pune) at bookmyshow...  11 jan
8   tribute to pink floyd by rla at bookmyshow at ...  13 jan
9   babuji ek sangitik parva-suresh wadkar live at...  26 jan
10  standup comedy at viman nagar -nukkad cafe at ...   2 jan
11  new breed - thursday live! at bookmyshow at Ha...   3 jan
12  stand up comedy at kp- inscape coworking space...   3 jan
13  tutc - sangam nivas, prayagraj at bookmyshow a...  10 jan
14  fiddlecraft - thursday live! at bookmyshow at ...  10 jan
15  goa sunsplash 2019 at bookmyshow at Riva Beach...  12 jan
16  sharma ji before and after at bookmyshow at Cl...  20 jan
17  comedy night at vandaag, the gateway hotel at ...  23 jan
18  zee jaipur literature festival:delegate experi...  24 jan
19  tribute to legends of metal by zygnema and fri...  24 jan
20  tribute to pink floyd feat. rla - thursday liv...  31 jan
21  the other side of me - a stand up comedy at bo...   2 feb
22  the other side of me  a standup comedy at book...   3 feb
23  ruhaniyat at bookmyshow at Empress Botanical G...  10 feb
24  milan raga (ranjani and gayatri) at bookmyshow...  16 feb

In [690]:
df_eventbrite

                                                    0       1
0   lol speed dating pun jan 13 at The Beer Cafe, ...  13 jan
1   registration of interest: midlands engine auto...  15 jan
2   vanarts info session - pune  at JW Marriott Ho...  19 jan
3   american education event in pune, india at Rad...  15 feb
4   international students education fair - feb 20...  24 feb
5   m:bility | india at The Hyatt Regency Pune, Pu...  26 nov
6   core power yoga at Latin Dreamers Dance Projec...   5 jan
7                 karma destiny and free will at null   5 jan
8   the new vision of life  at Urja Studio Cafe, P...   6 jan
9   a walk through the maze of understanding “data...   5 jan
10              aws demo session at ETLHIVE, Pune, MH   9 jan
11  globant ui nxt - conference on emerging trends...  11 jan
12         kpit sparkle 2019, pune  at Pune, Pune, MH  15 feb
13  a walk through the maze of understanding “data...   5 jan
14              aws demo session at ETLHIVE, Pune, MH   9 jan
15  globant ui nxt - conference on emerging trends...  11 jan
16         kpit sparkle 2019, pune  at Pune, Pune, MH  15 feb
17  learn data science from scholars from iisc and...   6 jan
18  nyu tandon - meet a current nyu engineering st...  12 jan
19  krishna consultant's overseas education fair i...  13 jan
20  want to study in uk? come to the uk education ...  10 feb
21  learn data science from scholars from iisc and...   6 jan
22  nyu tandon - meet a current nyu engineering st...  12 jan
23  krishna consultant's overseas education fair i...  13 jan
24  want to study in uk? come to the uk education ...  10 feb
25  masters at a top 100 school | pune seminar  at...  19 jan
26  6 steps to a winning business! at Poona Club L...  25 jan
27  birkman signature certification, pune, india, ...   9 apr
28         vrtech at Hyatt Regency, Pune, Maharashtra  24 apr
29  masters at a top 100 school | pune seminar  at...  19 jan
30  6 steps to a winning business! at Poona Club L...  25 jan
31  birkman signature certification, pune, india, ...   9 apr
32         vrtech at Hyatt Regency, Pune, Maharashtra  24 apr
33  turn the page | new year 2019 at Sadhu Vaswani...  31 dec
34  new year first sunrise with sun salutation (su...   1 jan
35  living philosophy: discover, awaken, transform...   8 jan
36  mud party- safari kid koregaon park at Safari ...  12 jan
37  human machine at Urja Studio Cafe, Pimpri-Chin...  27 jan
38  study in australia-attend idps free education ...  31 jan
39  wakad, pune : physiotherapy special offer at R...  12 jan
40   bigdata hadoop demo session at ETLHIVE, Pune, MH  15 jan
41  meditation session | tranquil tuesdays at Sadh...  18 jan
42           life - a delicate balance (talk) at null   2 feb
43  wakad, pune : physiotherapy special offer at R...  12 jan
44   bigdata hadoop demo session at ETLHIVE, Pune, MH  15 jan
45  meditation session | tranquil tuesdays at Sadh...  18 jan
46           life - a delicate balance (talk) at null   2 feb
47  new year eve party  at Hotel Sanai Residency, ...  31 dec
48  new years camping near pawna lake at Thakursai...  31 dec
49  new year eve 2019 | new year celebration in mu...  31 dec
50  professional speaker course at Lonavala, Lonav...  10 jan
51  new year eve party  at Hotel Sanai Residency, ...  31 dec
52  new years camping near pawna lake at Thakursai...  31 dec
53  new year eve 2019 | new year celebration in mu...  31 dec
54  professional speaker course at Lonavala, Lonav...  10 jan

In [691]:
df_insider

                                                   0       1
0  virsaa glam & gold night new year eve at The W...  31 dec
1  carlsberg presents mad'19 at Draupada Lawns & ...  31 dec
2      texas tower nye countdown 2019 at Texas Tower  31 dec
3  earth angel music festival at Venue to be anno...  11 jan
4        spoken fest, 2019 at JioGarden, BKC, Mumbai  12 jan
5  lvc presents abhishek upmanyu ‘thoda saaf bol’...  12 jan
6     neville shah live, pune at Thikana Baner, Pune  13 jan
7  5 star ke lolstars ft aishwarya mohanraj and k...  18 jan
8                    sulafest 2019 at Sula Vineyards   2 feb
9  the other side of me – a standup comedy specia...   2 feb

In [692]:
frames = [df_bms, df_insider, df_eventbrite]

#combining the all the dataframes from different websites
result = pd.concat(frames,sort=False)

In [693]:
#Setting the column names for the newly generated dataframe with reindexing the index value
result = result.rename(columns={ 0 :'event name', 1:'day',2:'location',3:'price'})
result = result.reset_index(drop=True)

#first we have this much events
print("At Starting we have this much events : "+str(len(result)))

At Starting we have this much events : 90

In [694]:
'''
for finding the unique dates/day when events are going to happen if day was same then and then only we are going to check
the similarity of the sentences with event name as well as location combined based on tf-idf (tf increses the value of the
words as it seems more in documents and idf - inverse document frequency is set up weight for words based on its frequency
the more word seems in the document it have low weigh and the less or unique words are come in the document increses the 
weight of the words and by multiplying the value of both tf and idf we get the similarity of the sentences with another 
sentences going to happen on the same day)
'''
dates = list(set(sorted(result['day'].tolist())))
#dates

In [695]:
#checks if sentence have more than 70% similarity based on tf-idf thresold if greater then that then only it considers it as duplicate
threshold = 0.7

In [696]:
#unique_list is here for storing the unique values remaining by removing the duplicates 
unique_list = []

'''
this loop checks each date and make a unique list of the event for the events that are going to happen on same day. And
after that if on a day if there is more then one event then only we are going to check the similarity because it's obvious,
if there is one event is going to happen on the day then it will be unique for sure.
'''
for each in dates:
    #each= '8 feb'
    temp = eve_on_date(each)
    
    if len(temp)>1:
        
        #making the dictionary using the event list with location for the same day
        dictionary = gensim.corpora.Dictionary(temp)
        
        corpus = [dictionary.doc2bow(gen_doc) for gen_doc in temp]
        
        #importing the tf-idf model of the gensim and train in using the data available in our corpus of words for the same day event with location
        tf_idf = gensim.models.TfidfModel(corpus)
    
        PROJECT_ROOT = os.path.dirname(os.path.realpath('WebScraping.ipynb'))
        sims = gensim.similarities.Similarity('PROJECT_ROOT',tf_idf[corpus],num_features=len(dictionary)) 
        
        df = []
        for event in temp:
            tempa = simila(" ".join(event))
            df.append(tempa)
        #similarity matrix is created            
        df = pd.DataFrame(df)
        
        #printing the similarity for various event for various dates, You can check for better insight 
        print(df)    
        
        #sort out only values from the vectorized matrix which have similarity of more than 70%.
        k = []
        for x in range(len(df)):
            k.append(np.where(df[x]>threshold)[0].tolist())
        #print(k)    
        try:    
            results = list(set([each[0] for each in sorted(k)]))
        except IndexError:    
            continue
        results=[temp[x] for x in results]
        #print(results)
        
        #storing the name of event with location on the results and append it to unique_list for generating the final list of unique events
        for i in results:
            unique_list.append((each," ".join(i)))
    else:
        unique_list.append((each," ".join(temp[0])))

C:\Users\An Unstoppable\Anaconda3\lib\site-packages\gensim\matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int32 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):
C:\Users\An Unstoppable\Anaconda3\lib\site-packages\gensim\matutils.py:718: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int32 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

     0    1
0  1.0  0.0
1  0.0  1.0
          0    1         2         3
0  1.000000  0.0  0.009086  0.009086
1  0.000000  1.0  0.000000  0.000000
2  0.009086  0.0  1.000000  1.000000
3  0.009086  0.0  1.000000  1.000000
          0         1         2    3    4
0  1.000000  0.009514  0.061515  0.0  0.0
1  0.009514  1.000000  0.010227  0.0  0.0
2  0.061515  0.010227  1.000000  0.0  0.0
3  0.000000  0.000000  0.000000  1.0  1.0
4  0.000000  0.000000  0.000000  1.0  1.0
         0        1    2         3         4         5         6         7
0  1.00000  0.06198  0.0  0.000000  0.000000  0.000000  0.000000  0.000000
1  0.06198  1.00000  0.0  0.000000  0.000000  0.000000  0.000000  0.000000
2  0.00000  0.00000  1.0  0.000000  0.000000  0.000000  0.000000  0.000000
3  0.00000  0.00000  0.0  1.000000  1.000000  0.016048  0.089773  0.089773
4  0.00000  0.00000  0.0  1.000000  1.000000  0.016048  0.089773  0.089773
5  0.00000  0.00000  0.0  0.016048  0.016048  1.000000  0.016760  0.016760
6  0.00000  0.00000  0.0  0.089773  0.089773  0.016760  1.000000  1.000000
7  0.00000  0.00000  0.0  0.089773  0.089773  0.016760  1.000000  1.000000
     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  1.0
2  0.0  1.0  1.0
          0    1         2         3         4         5         6         7  \
0  1.000000  0.0  0.000000  0.034330  0.033704  0.001570  0.070772  0.033704
1  0.000000  1.0  0.000000  0.000000  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.0  1.000000  0.021252  0.000000  0.000000  0.025957  0.000000
3  0.034330  0.0  0.021252  1.000000  0.038970  0.001816  0.117217  0.038970
4  0.033704  0.0  0.000000  0.038970  1.000000  0.002592  0.095200  1.000000
5  0.001570  0.0  0.000000  0.001816  0.002592  1.000000  0.004435  0.002592
6  0.070772  0.0  0.025957  0.117217  0.095200  0.004435  1.000000  0.095200
7  0.033704  0.0  0.000000  0.038970  1.000000  0.002592  0.095200  1.000000
8  0.001570  0.0  0.000000  0.001816  0.002592  1.000000  0.004435  0.002592
9  0.070772  0.0  0.025957  0.117217  0.095200  0.004435  1.000000  0.095200

          8         9
0  0.001570  0.070772
1  0.000000  0.000000
2  0.000000  0.025957
3  0.001816  0.117217
4  0.002592  0.095200
5  1.000000  0.004435
6  0.004435  1.000000
7  0.002592  0.095200
8  1.000000  0.004435
9  0.004435  1.000000
     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  1.0
2  0.0  1.0  1.0
     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  1.0
2  0.0  1.0  1.0
     0    1
0  1.0  0.0
1  0.0  1.0
          0    1         2    3    4
0  1.000000  0.0  0.162814  0.0  0.0
1  0.000000  1.0  0.000000  0.0  0.0
2  0.162814  0.0  1.000000  0.0  0.0
3  0.000000  0.0  0.000000  1.0  1.0
4  0.000000  0.0  0.000000  1.0  1.0
     0    1
0  0.0  0.0
1  0.0  0.0
          0    1         2         3         4
0  1.000000  0.0  0.043954  0.000000  0.000000
1  0.000000  1.0  0.000000  0.000000  0.000000
2  0.043954  0.0  1.000000  0.020223  0.020223
3  0.000000  0.0  0.020223  1.000000  1.000000
4  0.000000  0.0  0.020223  1.000000  1.000000
     0    1
0  1.0  0.0
1  0.0  1.0
     0    1
0  0.0  0.0
1  0.0  0.0
     0    1
0  1.0  0.0
1  0.0  1.0
     0    1    2
0  1.0  0.0  0.0
1  0.0  1.0  1.0
2  0.0  1.0  1.0
     0    1
0  0.0  0.0
1  0.0  0.0
          0         1    2         3         4
0  1.000000  0.055086  0.0  0.000000  0.000000
1  0.055086  1.000000  0.0  0.041598  0.041598
2  0.000000  0.000000  1.0  0.000000  0.000000
3  0.000000  0.041598  0.0  1.000000  1.000000
4  0.000000  0.041598  0.0  1.000000  1.000000
     0    1
0  1.0  0.0
1  0.0  1.0
          0         1    2    3
0  1.000000  0.045038  0.0  0.0
1  0.045038  1.000000  0.0  0.0
2  0.000000  0.000000  1.0  1.0
3  0.000000  0.000000  1.0  1.0
     0    1
0  0.0  0.0
1  0.0  0.0
     0         1         2         3
0  1.0  0.000000  0.000000  0.000000
1  0.0  1.000000  0.010985  0.010985
2  0.0  0.010985  1.000000  1.000000
3  0.0  0.010985  1.000000  1.000000
     0    1
0  1.0  0.0
1  0.0  1.0

In [697]:
#generation of the dataframe from Pyhton list
final_unique = pd.DataFrame(unique_list)

#renaming of the columns of the dataframe
final_unique = final_unique.rename(columns={ 0 :'day',1:'event name'})

In [698]:
print("This is the List of Final Event with date/day and location")
print(final_unique)

This is the List of Final Event with date/day and location
       day                                         event name
0   31 jan  tribute pink floyd feat rla thursday live book...
1   31 jan  study australiaattend idps free education fair...
2    5 jan  core power yoga latin dreamers dance project p...
3    5 jan                            karma destiny free null
4    5 jan  walk maze understanding data visualization sym...
5   23 jan  comedy night vandaag gateway hotel bookmyshow ...
6   10 jan  swarazankar decade musical celebration bookmys...
7   10 jan  tutc sangam nivas prayagraj bookmyshow sangam ...
8   10 jan  fiddlecraft thursday live bookmyshow hard rock...
9   10 jan  professional speaker course lonavala lonavala ...
10  12 jan  goa sunsplash 2019 bookmyshow riva beach resor...
11  12 jan              spoken fest 2019 jiogarden bkc mumbai
12  12 jan  lvc presents abhishek upmanyu thoda saaf bolin...
13  12 jan  nyu tandon meet current nyu engineering studen...
14  12 jan  mud party safari kid koregaon park safari kid ...
15  12 jan  wakad pune physiotherapy special offer reliva ...
16  15 feb  american education event pune india radisson b...
17  15 feb                kpit sparkle 2019 pune pune pune mh
18  31 dec  virsaa glam gold night new year eve westin kor...
19  31 dec  carlsberg presents mad19 draupada lawns sant t...
20  31 dec         texas tower nye countdown 2019 texas tower
21  31 dec  turn page new year 2019 sadhu vaswani mission ...
22  31 dec    new year eve party hotel sanai residency wai mh
23  31 dec  new years camping near pawna lake thakursai th...
24  31 dec  new year eve 2019 new year celebration mumbai ...
25   6 jan  new vision life urja studio cafe pimprichinchw...
26   6 jan  learn data science scholars iisc lancaster uni...
27  18 jan  5 star ke lolstars ft aishwarya mohanraj kanan...
28  18 jan  meditation session tranquil tuesdays sadhu vas...
29   3 feb   side standup comedy bookmyshow leafy trails pune
..     ...                                                ...
36   2 feb                    life delicate balance talk null
37  27 jan  human machine urja studio cafe pimprichinchwad mh
38  13 jan  tribute pink floyd rla bookmyshow high spirits...
39  13 jan          neville shah live pune thikana baner pune
40  13 jan      lol speed dating pun jan 13 beer cafe pune mh
41  13 jan  krishna consultants overseas education fair pu...
42  20 jan  sharma ji bookmyshow classic rock coffee co ka...
43  26 jan  lucky ali live 30 years musical journey bookmy...
44  26 jan  babuji ek sangitik parvasuresh wadkar live boo...
45  24 jan  zee jaipur literature festivaldelegate experie...
46  24 jan  tribute legends metal zygnema friends bookmysh...
47  15 jan  registration interest midlands engine automoti...
48  15 jan        bigdata hadoop demo session etlhive pune mh
49   8 jan  living philosophy discover awaken transform pu...
50  11 jan  vipul goyal live bookmyshow nomad lounge bar a...
51  11 jan  signature masterclass 30 pune bookmyshow westi...
52  11 jan         earth angel music festival venue announced
53  11 jan  globant ui nxt conference emerging trends ui e...
54  16 feb  vh1 supersonic festival 2019 bookmyshow mahala...
55  16 feb  milan raga ranjani gayatri bookmyshow creatici...
56  10 feb  hot happening jeeveshu ahluwalia bookmyshow ne...
57  10 feb  ruhaniyat bookmyshow empress botanical garden ...
58  10 feb  want study uk come uk education fair pune free...
59  19 jan  melody queen shreya ghoshal live concert bookm...
60  19 jan  vanarts info session pune jw marriott hotel pu...
61  19 jan  masters top 100 school pune seminar pleasant b...
62  26 nov  mbility india hyatt regency pune pune maharashtra
63  24 feb  international students education fair feb 2019...
64   3 jan  new breed thursday live bookmyshow hard rock c...
65   3 jan  stand comedy kp inscape coworking space bookmy...

[66 rows x 2 columns]

In [699]:
print("After Removing events on SImilarity basis we have remaining events : "+str(len(final_unique)))

After Removing events on SImilarity basis we have remaining events : 66